
# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

code/agents_v1/
code/agent/
code/archive/
code/best_model/
code/data/
code/latest_model/
code/models/
code/sfl_agent_framework/
code/SFL_cifar10_0.5/
code/SFL_mnist_0.0/
code/SFL_mnist_0.1/
code/SFL_mnist_0.5/

code/logs/
code/trained_models


code/ssfl/resource_profiler_agent.py
code/ssfl/trainer_no_agent.py
code/ssfl/output




code/main_no_agent.py
code/main_agent.py
code/search_space.yaml

.env


