
code/agents/
code/archive/
code/best_model/
code/data/
code/latest_model/
code/models/
code/sfl_agent_framework/
code/SFL_cifar10_0.5/
code/SFL_mnist_0.0/
code/SFL_mnist_0.1/
code/SFL_mnist_0.5/


code/ssfl/


code/main_no_agent.py
code/search_space.yaml

.env


